@use 'sass:math';

$primary-blue: #0072CE;
$primary-orange: #E17800;
$secondary-white: #FFFFFF;
$secondary-black: #000000;
$secondary-black-blue: #243C4B;
$secondary-yellow: #F1C400;
$secondary-light-blue: #58CAE7;


@font-face {
  font-family: 'Veneer';
  src: url("../fonts/veneer-webfont.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

$font-veneer: "Veneer";

@font-face {
  font-family: 'VeneerThree';
  src: url("../fonts/FontsFree-Net-Veneer-W01-Two.ttf") format('truetype');
}

$font-Veneer-Three: 'VeneerThree';

@font-face {
  font-family: 'CorePaintB3W01-Regular';
  src: url("../fonts/FontsFree-Net-Veneer-W01-Two.ttf") format('truetype');
}

$font-core-paint: 'CorePaintB3W01-Regular';

$font-roboto: 'Roboto', sans-serif;
$font-arial: 'Arial', sans-serif;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $font-veneer;
  color: $primary-blue;
  overflow: hidden;
}

p {
  margin-bottom: 2rem;
}

.btn.btn-outline-white {
  border: 4px solid #FFFFFF;
  background: none;
  color: #fff;
  padding: 0.264rem 3rem;
  border-radius: 8px;
}

.cl-orange {
  color: $primary-orange !important;
}

.cl-blue {
  color: $primary-blue !important;
}

.bg-orange {
  background-color: $primary-orange !important;
}

.bg-blue {
  background-color: $primary-blue !important;
}

.bg-yellow {
  background-color: $secondary-yellow !important;
}

.bg-light-blue {
  background-color: $secondary-light-blue !important;
}

.btn.btn-yellow {
  background: $secondary-yellow;
  color: $secondary-black-blue;
  padding: 0.7rem 1.88rem;
  border-radius: 4px;
  font-family: $font-core-paint;
  font-style: normal;
  font-weight: 400;
  font-size: 27.7214px;
  line-height: 34px;
  transition: all 0.5s;
}


.chevron-down {
  transition: all ease-in-out 0.5s;

  .scroll-down {
    font-size: 40px;
    display: inline-block;
    color: $secondary-white;
  }

  a {
    width: fit-content;
  }

  i {
    -webkit-text-stroke: 1px;
  }

  .bi-chevron-down::before {
    border: 2px solid $secondary-white;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
    transition: all ease-in-out 0.5s;
  }
}

.chevron-down:hover {
  .bi-chevron-down::before {
    color: $primary-blue;
    background-color: $secondary-white;
    transition: all ease-in-out 0.5s;
  }
}

strong {
  font-weight: bold;
}

.quote {
  padding: 4rem 0;

  .quote-text-wrapper {
    position: relative;
  }

  p.quote-text {
    position: relative;
    display: inline;
  }

  p.quote-text:before {
    z-index: -1;
    position: absolute;
    left: -58px;
    top: -63px;
  }

  p.quote-text:after {
    z-index: -1;
    position: absolute;
    bottom: -81px;
    right: -97px;
  }

  p.quote-yellow:before {
    content: url("../images/open-quote-yellow.svg");
  }

  p.quote-yellow:after {
    content: url("../images/close-quote-yellow.svg");
  }

  p.quote-blue:before {
    content: url("../images/open-quote-blue.svg");
  }

  p.quote-blue:after {
    content: url("../images/close-quote-blue.svg");
  }

  img.open-quote {
    top: -20%;
    left: -40%;
  }

  img.close-quote {
    bottom: -22%;
    right: -50%;
  }

  p.author {
    z-index: 100000;
  }

  .quote-text {
    font-family: $font-arial;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: $primary-blue;
  }

  .author {
    font-family: $font-arial;
    font-style: normal;
    font-weight: 400;
    font-size: 30.1713px;
    line-height: 35px;
    color: $secondary-black-blue;
  }
}

#header, #header-stories{
  padding: 1rem 0 0 0;
  z-index: 2;

  div.logo > a {
    img {
      max-height: 53px;
      display: inline-block;
      width: fit-content;
    }
  }

  .navbar {
    padding: 0;

    .menu-label {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
      color: $secondary-white;
    }

    img {
      max-height: 53px;
      width: fit-content;
    }
  }
}

#header {
  position: absolute;
}

#first-page-photo {
  background-color: $primary-blue;
  position: relative;
  padding-top: 4rem;
  overflow: hidden;

  section.hero-section {
    height: 100%;
    display: flex;

    img {
      max-height: 162px;
      width: fit-content;
      margin: 0 auto;
    }

    h1, h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      line-height: 1;
      text-align: center;
      color: $secondary-white;
    }

    h1 {
      color: $primary-blue;
      line-height: 1.3;
    }

    h1 > span {
      background-color: $secondary-white;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      line-height: 50px;
      padding: 0 1rem;
    }

    .chevron-down {
      height: fit-content;
      display: flex;
      align-self: flex-end;
      margin-bottom: 3rem;
    }
  }
}

.statistic-section {
  margin: 8.5rem auto;

  .statistic-chart {
    h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 88px;
      line-height: 106px;
      color: $primary-blue;
      margin-bottom: 2rem;
    }

    .statistic-des {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      color: $primary-blue;
    }

    .signal-wrapper {
      margin: 2rem auto;
    }

    .signal-des {
      display: flex;
      align-items: center;

      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        padding-left: 0.5rem;
      }
    }

    .signal-icon {
      width: 15px;
      height: 7px;
    }
  }

  .statistic-flag {
    background-color: $primary-blue;
    color: $secondary-white;
    padding: 2.75rem 0;
    display: flex;

    .statistic-flag-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    h3 {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      text-align: center;
    }

    h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 88px;
      line-height: 106px;
      text-align: center;
    }

    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
    }

    img {
      max-width: 231px;
      margin: 0 auto;
    }
  }

}

.cta {
  background-color: $primary-blue;
  padding: 8.5rem 0;

  h3 {
    font-family: $font-arial;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: $secondary-white;
  }

  h2 {
    font-family: $font-veneer;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: $secondary-white;
  }

  p.cta-time {
    font-family: $font-veneer;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    color: #000000;

    display: inline-block;
    padding: 0 0.5rem;

    background: url("../images/bg-cta-time.svg") center no-repeat;
    background-size: cover;
  }

  p.cta-time-des {
    font-family: $font-arial;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: $secondary-white;
    width: 60%;
    margin: 0 auto;
  }

  p.cta-des {
    font-family: $font-arial;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: $secondary-white;
  }

  .cta-time-wrapper {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}

.next-story {
  background-color: $secondary-yellow;
  position: relative;

  div.next-story-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 5rem auto;
  }

  h2 {
    text-transform: uppercase;
    font-family: $font-veneer;
    font-style: normal;
    font-weight: 400;
    font-size: 88px;
    line-height: 106px;
    color: $secondary-black-blue;
    margin-bottom: 17rem;
  }

  p {
    text-transform: uppercase;
    font-family: $font-veneer;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 45px;
    color: $secondary-black-blue;
  }

  .chevron-down {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 39px);
  }

  .chevron-down .bi-chevron-down::before {
    border-color: $secondary-black-blue;
  }

  .scroll-down {
    color: $secondary-black-blue;
  }
}

.image-n-quote {
  div.col-6 {
    padding: 0;
  }

  .inq-text-wrapper {
    display: flex;
    align-items: center;
    background-color: $secondary-yellow;
  }

  p {
    font-family: $font-Veneer-Three;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 136%;
    color: $secondary-black-blue;
  }
}

.section-space {
  margin: 8.5rem 0;
}

.odd-col {
  margin-top: 6.5rem;
}


.story-card-item {
  min-height: 400px;
  padding: 0.5rem 0;

  .story-card {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    z-index: 1;

    h3 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 92%;
      color: $primary-blue;
      transition: all ease-in-out 0.5s;
      z-index: 2;

      span {
        transition: all ease-in-out 0.5s;
        background-color: $secondary-white;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        line-height: 50px;
        padding: 0 5px;
      }
    }

    i.hover {
      display: none;
    }

    p.thought {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 33px;
      line-height: 129%;
      color: $primary-blue;
      opacity: 0;
      transition: all ease-in-out 0.5s;
      flex-grow: 1;
      margin: 0;
    }

    div.country {
      background: url("../images/bg-country.svg") no-repeat center;
      width: fit-content;
      z-index: 200;
      padding: 0.5rem;
      margin: 0 0 0 auto;
      opacity: 1;
      transition: all ease-in-out 0.5s;
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;

      p {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 31.4989px;
        line-height: 38px;
        color: $secondary-white;
        margin-bottom: 0;
      }
    }
  }

  .card-img-hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    transition: all ease-in-out 0.7s;
    z-index: 1;
  }

  .img-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -2;
    opacity: 1;
    height: 100%;
  }

  .img-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1;
    height: 100%;
  }

  .story-card:hover {
    box-shadow: 0 6px 6px rgb(0 0 0 / 25%);

    .card-img-hover {
      left: 100%;
      opacity: 0;
    }

    .card-text {
      h3 {
        color: $secondary-white;
        transition: all ease-in-out 0.5s;

        span {
          background-color: $primary-blue;
          transition: all ease-in-out 0.5s;
        }
      }

      p.thought {
        opacity: 1;
      }


      i.hover {
        display: inline-block;
      }

      i.original {
        display: none;
      }

      div.country {
        opacity: 0;
      }
    }
  }
}

.mr-header {
  margin-top: 80px;
}

/*--------------------------------------------------------------
# TWO PHOTOS PAGE
--------------------------------------------------------------*/

#main-two-photos {
  .stories-1 {
    margin: 8.5rem auto;

    .stories-1-text {
      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 200;
        font-size: 32px;
        line-height: 38px;
        color: $secondary-black;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }
  }

  .stories-2 {
    margin: 8.5rem auto;

    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $secondary-black;
      margin-bottom: 2rem;
    }

    img {
      width: 30%;
      margin: 0 auto;
    }
  }

  .stories-3 {
    margin: 8.5rem auto;

    .stories-3-text-wrapper {
      p {
        font-family: $font-arial;
        font-size: 28px;
        line-height: 32px;
        color: $secondary-black;
        margin-bottom: 2rem;
      }

      p.title {
        font-style: italic;
        color: $primary-blue;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }

  .highlight-2 {
    background-color: $primary-blue;
    padding: 6rem 0;

    .highlight-2-text {
      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-white;
        margin-bottom: 2rem;
      }
    }

    .highlight-2-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 65%;
      }
    }
  }

  .s6pt-highlight-2 {
    background: url("../images/stories-6-03.jpg") no-repeat;
    background-size: cover;

    img {
      visibility: hidden;
    }
  }

}

/*--------------------------------------------------------------
# END TWO PHOTOS PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# SIX PHOTOS PAGE
--------------------------------------------------------------*/

#main-six-photos {
  .quote .author {
    font-family: $font-arial;
    font-style: normal;
    font-weight: 400;
    font-size: 30.1713px;
    line-height: 35px;
    color: $primary-blue;
    text-align: right;
  }

  .s6pt-stories-1 {

    h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 77px;
      color: $primary-blue;
      margin-bottom: 4rem;
    }

    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      color: $secondary-black;
    }

    p.title {
      margin: 0;
    }

    .s6pt-stories-1-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .s6pt-stories-6-img-wrapper {
      position: relative;
      height: 100%;
      overflow: hidden;
    }

    .hover-div {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      height: inherit;
      padding: inherit;
      display: flex;
      flex-direction: column;


      .hover-div-content {
        height: 100%;
      }

      .hover-div-content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      h3 {
        color: $secondary-white;
        font-size: 44px;
        font-weight: normal;
        font-family: $font-Veneer-Three;
        z-index: 100;
        opacity: 0;
        transition: all ease-in-out 1s;
      }
    }

    .hover-bar-horizontal {
      position: absolute;
      right: 0;
      left: 0;
      bottom: calc(-1 * (100% - 9px));
      padding: inherit;
      height: 100%;
      transition: all ease-in-out 1s;
      display: flex;
      flex-direction: column;
      z-index: 1;

      div.bar {
        height: 9px;
        width: 100%;
        background-color: $secondary-yellow;
        transition: all ease-in-out 1s;
      }

      div.hover-bg {
        background-color: $primary-blue;
        opacity: 0.75;
        z-index: 1;
        transition: all ease-in-out 1s;
        flex-grow: 1;
      }
    }

    .s6pt-stories-6-img-wrapper:hover {
      .hover-bar-horizontal {
        bottom: 0;
      }

      .hover-bg {
        transition: all ease-in-out 1s;
      }

      .hover-div {
        h3 {
          opacity: 1;
        }
      }
    }
  }

  .s6pt-highlight-1 {
    height: 100vh;
    background-image: url("../images/vietnam-people.png"), url("../images/vietnam-bg.jpg");
    background-position: bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-size: 150vh, cover;
  }

  .s6pt-stories-2 {
    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: $secondary-black;
    }

    img {
      height: 50%;
      width: auto;
      margin: 0 auto 2rem auto;
    }
  }

  .s6pt-highlight-2 {
    .s6pt-highlight-2-img {
      position: relative;

      img {
        transition: all ease-in-out 1s;
      }

      .hover-img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
      }
    }

    .s6pt-highlight-2-img:hover {
      .hover-img {
        opacity: 1;
      }
    }
  }

  .s6pt-stories-3 {
    h2 {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 700;
      font-size: 58px;
      line-height: 67px;
      color: $primary-blue;
      margin-bottom: 3.5rem;
    }

    .s6pt-stories-3-text {
      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-black;
      }
    }
  }

  .s6pt-highlight-3 {
    position: relative;

    .bar {
      width: 50%;
      height: 20px;
    }

    .top-left {
      position: absolute;
      top: 0;
      left: 0;
    }

    .bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .s6pt-highlight-3-text-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .s6pt-highlight-3-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 67px;
        color: $secondary-yellow;
        margin-bottom: 4rem;
      }

      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-white;
      }

      p.title-yellow {
        color: $secondary-yellow;
      }
    }
  }

  .s6pt-stories-4 {
    .s6pt-stories-4-text p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $secondary-black;
    }
  }

  .s6pt-highlight-4 {
    position: relative;
    overflow: hidden;

    img {
      transition: all ease-in-out 1s;
    }

    .img-hover:hover {
      transform: scale(1.1);
    }

    .bar-100 {
      width: 100%;
      height: 20px;
    }

    .bottom {
      position: absolute;
      bottom: 0;
    }
  }

  .s6pt-stories-5 {
    .s6pt-stories-5-text {
      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-black;
      }

      p.title {
        color: $primary-blue;
      }
    }
  }

  .s6pt-stories-6 {
    h2 {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 700;
      font-size: 58px;
      line-height: 67px;
      color: $primary-blue;
      margin-bottom: 4rem;
    }

    .s6pt-stories-6-text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-black;
      }

      img {
        height: 40%;
        width: auto;
        margin: 0 auto 2rem auto;
      }
    }

    .s6pt-stories-6-img-wrapper {
      position: relative;
      height: 100%;

      .hover-div {
        position: absolute;
        right: 0;
        left: 0;
        height: 45%;
        padding: inherit;
        display: flex;
        flex-direction: column;
        bottom: 0;


        .hover-div-content {
          height: 100%;
        }

        .hover-div-content-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h3 {
          color: $secondary-white;
          font-family: $font-Veneer-Three;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 136%;
          z-index: 100;
          opacity: 0;
          text-align: left;
          transition: all ease-in-out 1s;
        }

        p.author {
          color: $secondary-white;
          font-size: 36px;
          font-weight: lighter;
          font-family: $font-roboto; // ???????
          z-index: 100;
          opacity: 0;
          text-align: left;
          transition: all ease-in-out 1s;
        }
      }

      .hover-bar-vertical {
        position: absolute;
        right: calc(-1 * (100% - 9px));
        height: 45%;
        display: flex;
        flex-direction: row;
        z-index: 1;
        bottom: 0;
        transition: all ease-in-out 1s;
        width: 100%;
        padding: inherit;

        div.bar {
          height: 100%;
          width: 9px;
          background-color: $secondary-yellow;
          transition: all ease-in-out 1s;
        }

        div.hover-bg {
          background-color: $primary-blue;
          opacity: 0.75;
          z-index: 1;
          transition: all ease-in-out 1s;
          flex-grow: 1;
        }
      }
    }

    .s6pt-stories-6-img-wrapper:hover {
      .hover-bar-vertical {
        right: 0;
      }

      .hover-bg {
        transition: all ease-in-out 1s;
      }

      .hover-div {
        h3, p.author {
          opacity: 1;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# END SIX PHOTOS PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# HOME PAGE
--------------------------------------------------------------*/
#header.home-header, #header-stories {
  .navbar {
    .menu-label {
      color: $primary-blue;
    }
  }
}

#home-page {
  p {
    margin: 0;
  }

  .page-1 {
    .page-1-wrapper {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .text-wrapper {
      margin: 0 auto;
      width: fit-content;
    }

    p {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 8rem;
      color: $secondary-white;
      margin: 0;
      line-height: 1;
      display: flex;

      span {
        margin: 0 1rem;
        background: url("../images/act_bg.svg") no-repeat center;
        opacity: 1;
        padding: 0 1rem;
        width: inherit;
        background-size: cover;
        transition: all 2s ease-in-out;
      }
    }

    .louder-than-words {
      margin: 0 auto;
      width: fit-content;
    }

    .louder-than {
      display: inline-flex;
      align-items: flex-end;

      h2 {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 14rem;
        text-align: center;
        color: $secondary-white;
        line-height: 1;
        margin: 0;
      }

      p {
        font-size: 7.5rem;
        margin: 0;
        line-height: 1.25;
        padding: 0 2rem;
      }
    }

    h1 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 22rem;
      color: $secondary-white;
      margin: 0;
      line-height: 0.9;
    }
  }

  .page-2 {
    p {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 140%;
      color: $secondary-black-blue;
      margin: 0;
      z-index: 2;
    }

    p.first-line {
      font-weight: 400;
      font-size: 94px;
      line-height: 113px;
    }

    .canvas-wrapper {
      z-index: -1;
    }

    canvas {
      max-width: 100vw;
      max-height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  .page-3 {
    .page-3-wrapper {
      height: 100%;
    }

    img {
      max-width: 13rem;
      height: auto;
      margin: 0 auto;
    }

    .text {
      p {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 124px;
        line-height: 149px;
        text-align: center;
        color: $secondary-white;
      }
    }
  }

  .page-4 {
    video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
    }

    .page-4-text-wrapper {
      height: inherit;
      align-items: center;
    }

    .text {
      position: relative;
    }

    .part-1 {
      transition: all ease-in-out 0.5s;
    }

    .part-2 {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all ease-in-out 0.5s;

      .bg-text {
        display: inline-block;
        padding: 0 0.5rem;
      }

      .bg-text:after {
        content: " ";
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        z-index: -1;
      }
    }

    p {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 120px;
      text-align: center;
      color: $secondary-black-blue;
      margin: 0;
    }
  }

  .page-5 {
    p {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      line-height: 120%;
      color: $secondary-white;
    }

    .last-line {
      margin-right: 11rem;
    }

    .pg-5-speaker{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .page-6 {
    p {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 123px;
      text-align: center;
      color: $secondary-white;
    }

    .first-line {
      font-weight: 400;
      font-size: 124px;
      line-height: 149px;
    }
  }

  .page-7 {
    #home-stories .hero-section{
      height: calc(100% - 69px);
    }
  }
}

#home-stories {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {

    }
  }
}

.main-home-stories {
  margin-bottom: 8.5rem;

  .filter-section {
    .filter-n-search {
      .filter-wrapper {
        display: flex;
        flex-direction: row;
      }

      h2 {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        color: $primary-blue;

        padding-right: 2rem;
        margin: 0;
      }

      form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;

        .faux-select {
          list-style-type: none;
          padding: 0.4em 0;
          background: $secondary-white;
          color: $primary-blue;
          text-align: left;
          cursor: pointer;
          position: relative;
          width: 200px;
          border: 1px dashed $primary-blue;
          box-sizing: border-box;
          border-radius: 9px;
          box-shadow: none;
          margin: 0;
          display: flex;
          align-items: center;

          li {
            padding: 0;
            text-indent: 1em;
            position: relative;
            flex-grow: 1;

            .options {
              display: block;
              list-style-type: none;
              padding: 0;
              margin: 0.4em 0 0 0;
              background: transparent;
              position: absolute;
              width: 100%;
              max-height: 0;
              overflow: hidden;
              border: 3px solid transparent;
              top: 1.2em;
              left: -0.2em;
              transition: all ease 0.25s;

              li {
                padding: 0.4em 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);

                font-family: $font-roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 25px;
                color: $primary-blue;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;

                p {
                  margin: 0;
                }

                p.number {
                  margin-right: 0.7rem;
                }
              }

              li:hover {
                background-color: rgb(64 60 67 / 16%);
              }
            }

            .options.open {
              transition: all ease 0.25s;
              color: $primary-blue;
              background: $secondary-white;
              box-shadow: 0 3px 2px rgb(0 0 0 / 15%);
              max-height: 180px;
              overflow: auto;
            }
          }

          .selected-option span {
            font-family: $font-arial;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: $primary-blue;
          }

          &:before {
            content: '';
            width: 0;
            height: 0;
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-top: 0.8em solid $primary-blue;
            position: absolute;
            right: 1em;
            transition: all ease 0.5s;
          }
        }

        .faux-select.open {
          &:before {
            border-left: 0.5em solid transparent;
            border-right: 0.5em solid transparent;
            border-bottom: 0.8em solid $primary-blue;
            border-top: 0;
          }
        }

        .form-btn {
          align-items: center;

          a {
            font-family: $font-veneer;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: $secondary-black-blue;

            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 38px;
          }

          a.btn-apply {
            background-color: $secondary-yellow;
            border-color: $secondary-yellow;
            border-radius: 9px 0 0 9px;

          }

          a.btn-reset {
            background: #EBEBEB;
            border-color: #EBEBEB;
            border-radius: 0 9px 9px 0;
          }

        }
      }

      .search-wrapper {
        .search {
          height: 100%;

          border: 1px dashed $primary-blue;
          box-sizing: border-box;
          border-radius: 9px;
        }

        input {
          border-radius: 9px;
          border: none;
        }

        .search-icon {
          border-radius: 0 9px 9px 0;
          border: none;
          background: $secondary-yellow;
          padding: 0 1rem;
        }
      }
    }

    .under-line {
      height: 4px;
      width: 100%;
      margin-top: 2rem;
    }
  }

  .more-stories {
    h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 77px;
      color: $primary-blue;
      margin-bottom: 6rem;
    }

    .story-card-item {
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);

      .card-text {
        h3 {
          color: $secondary-white;

          span {
            background-color: $primary-blue;
          }
        }
      }
    }
  }
}


#video-stories {
  h2 {
    font-family: $font-veneer;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #0072CE;
    margin-bottom: 6rem;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 2rem;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*--------------------------------------------------------------
# END HOME PAGE
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# ANIMATION
--------------------------------------------------------------*/
.showing {
  visibility: visible !important;
}


.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

#home-page .page-1 {
  visibility: hidden;

  .louder-than-words {
    h2.zoomInLeft {
      animation-delay: 0s;
    }

    p {
      animation-delay: 1s;
    }

    h1 {
      animation-delay: 2s;
    }
  }
}

#home-body #header {
  visibility: hidden;
}

/*=== FULL PAGE & FADE IN ===*/
.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;

  .fp-section {
    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 1;
    }

    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s ease-in-out;
  }
}

/*=== BACKGROUND FROM LEFT TO RIGHT ===*/
.fp-viewing-3 .bg-text:after {
  animation-name: triggerBackground;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 6.5s;
  transition: all ease-in-out 0.5s;
}

@keyframes triggerBackground {
  to {
    width: 100%;
  }
}

/*=== ZOOM TOP TO BOTTOM ===*/
.fp-viewing-0 .zoomTopToBottom {
  animation-name: zoomTopToBottom;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 3s;
}

@keyframes zoomTopToBottom {
  from {
    transform: scale(1.5) translateY(-100%);
    opacity: 0;
  }
}

/*=== FADE IN UP ===*/
.fp-viewing-0 .page-1 .p1-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 4s;
}

@keyframes fadeInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
}

/*=== FADE IN RIGHT ===*/
.fp-viewing-1 .fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.page-2 .fadeInRight:nth-child(1) {
  animation-delay: 0s;
}

.page-2 .fadeInRight:nth-child(2) {
  animation-delay: 2s;
}

.page-2 .fadeInRight:nth-child(3) {
  animation-delay: 4s;
}


@keyframes fadeInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}


/*=== ACT BACKGROUND ANIMATION ===*/
// Hero banner take 4s
.fp-viewing-0 .act-bg {
  animation-name: backgroundCover;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 3.5s;
}

@keyframes backgroundCover {
  from {
    width: 0;
    background-size: 0;
  }
}

/*=== ZOOM RIGHT TO LEFT ===*/
.fp-viewing-0 .zoomInLeft {
  animation-name: zoomInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes zoomInLeft {
  from {
    transform: scale(5) translateX(20%);
    opacity: 0;
  }
}

/*=== PULSE FOR CHEVRON-DOWN ===*/
.pulse-animation {
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/*=== VERTICAL CAROUSEL ANIMATION ===*/
$animation-timing: 15s;
$carousel-items: 6;
$animation-delay-fraction: math.div($animation-timing, $carousel-items);
$animation-steps-fraction: math.div(100, $carousel-items);
$slide-change-timing: 3; // percentage of total animation cycle


.fp-viewing-2 .carousel {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.fp-viewing-2 .carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical $animation-timing linear infinite;
}

@for $i from 1 through ($carousel-items) {
  .carousel__item:nth-child(#{$i}) {
    animation-delay: calc(#{$animation-delay-fraction} * #{$i - 2});
  }
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  #{$slide-change-timing}%, #{$animation-steps-fraction}%  {
    transform: translateY(90%) scale(0.7);
    opacity: .4;
    visibility: visible;
  }
  #{$animation-steps-fraction + $slide-change-timing}%, #{$animation-steps-fraction * 2}% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  #{($animation-steps-fraction * 2) + $slide-change-timing}%, #{$animation-steps-fraction * 3}% {
    transform: translateY(-90%) scale(0.7);
    opacity: .4;
    visibility: visible;
  }
  #{($animation-steps-fraction * 3) + $slide-change-timing}% {
    transform: translateY(-90%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-90%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}


