$primary-blue: #0072CE;
$primary-orange: #E17800;
$secondary-white: #FFFFFF;
$secondary-black: #000000;
$secondary-black-blue: #243C4B;
$secondary-yellow: #F1C400;


@font-face {
  font-family: 'Veneer';
  src: url("../fonts/veneer-webfont.ttf") format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

$font-veneer: "Veneer";

@font-face {
  font-family: 'VeneerThree';
  src: url("../fonts/FontsFree-Net-Veneer-W01-Two.ttf") format('truetype');
}

$font-Veneer-Three: 'VeneerThree';

@font-face {
  font-family: 'CorePaintB3W01-Regular';
  src: url("../fonts/FontsFree-Net-Veneer-W01-Two.ttf") format('truetype');
}

$font-core-paint: 'CorePaintB3W01-Regular';

$font-roboto: 'Roboto', sans-serif;
$font-arial: 'Arial', sans-serif;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $font-veneer;
  color: $primary-blue;
  overflow: hidden;
}

.wrapper {
  position: relative;
  background: #ffffff;
}

.btn.btn-outline-white {
  border: 4px solid #FFFFFF;
  background: none;
  color: #fff;
  padding: 0.264rem 3rem;
  border-radius: 8px;
}

.cl-orange {
  color: $primary-orange !important;
}

.cl-blue {
  color: $primary-blue !important;
}

.bg-orange {
  background-color: $primary-orange !important;
}

.bg-blue {
  background-color: $primary-blue !important;
}

.btn.btn-yellow {
  background: $secondary-yellow;
  color: $secondary-black-blue;
  padding: 0.7rem 1.88rem;
  border-radius: 4px;
  font-family: $font-core-paint;
  font-style: normal;
  font-weight: 400;
  font-size: 27.7214px;
  line-height: 34px;
  transition: all 0.5s;
}


.chevron-down {
  .scroll-down {
    font-size: 40px;
    display: inline-block;
    color: $secondary-white;
  }

  a {
    width: fit-content;
  }

  i {
    -webkit-text-stroke: 1px;
  }

  .bi-chevron-down::before {
    border: 2px solid $secondary-white;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 5px;
  }
}

strong {
  font-weight: bold;
}

.quote {
  padding: 4rem 0;

  .quote-text-wrapper {
    position: relative;
  }

  p.quote-text > span {
    position: relative;
  }

  p.quote-text:before {
    width: 100%;
    z-index: -1;
    position: absolute;
    left: -14%;
    top: -17%;
  }

  p.quote-text:after {
    width: 100%;
    z-index: -1;
    position: absolute;
  }

  p.quote-yellow:before {
    content: url("../images/open-quote-yellow.svg");
  }

  p.quote-yellow:after {
    content: url("../images/close-quote-yellow.svg");
  }

  p.quote-blue:before {
    content: url("../images/open-quote-blue.svg");
  }

  p.quote-blue:after {
    content: url("../images/close-quote-blue.svg");
  }

  img.open-quote {
    top: -20%;
    left: -40%;
  }

  img.close-quote {
    bottom: -22%;
    right: -50%;
  }

  p.author {
    z-index: 100000;
  }

  .quote-text {
    font-family: $font-arial;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: $primary-blue;
  }

  .author {
    font-family: $font-arial;
    font-style: normal;
    font-weight: 400;
    font-size: 30.1713px;
    line-height: 35px;
    color: $secondary-black-blue;
  }
}

/*--------------------------------------------------------------
# TWO PHOTOS PAGE
--------------------------------------------------------------*/
#two-photo-first-page {
  background-color: $primary-blue;
  position: relative;

  #header {
    padding: 1.75rem 0 1rem 0;

    div.logo > a {
      img {
        max-height: 53px;
        display: inline-block;
        width: fit-content;
      }
    }

    .navbar {
      #menu-label {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: $secondary-white;
      }

      img {
        max-height: 53px;
        width: fit-content;
      }
    }
  }

  section.two-pt-hero-section {
    img {
      max-height: 162px;
      width: fit-content;
      margin: 0 auto;
    }

    h1, h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 88px;
      line-height: 106px;
      text-align: center;
      color: $secondary-white;
    }

    h1 {
      color: $primary-blue;
    }

    h1 > span {
      background-color: $secondary-white;
    }

    .chevron-down {
      position: absolute;
      bottom: 10px;
    }
  }
}

#main-two-photos {
  .stories-1 {
    margin: 8.5rem auto;

    .stories-1-text {
      p {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 32px;
        line-height: 38px;
        color: $secondary-black;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }
  }

  .stories-2 {
    margin: 8.5rem auto;

    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $secondary-black;
      margin-bottom: 2rem;
    }

    img {
      width: 30%;
      margin: 0 auto;
    }
  }

  .highlight-1 {
    div.col-6 {
      padding: 0;
    }

    .highlight-1-text-wrapper {
      display: flex;
      align-items: center;
      background-color: $secondary-yellow;
    }

    p {
      font-family: $font-Veneer-Three;
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 136%;
      color: $secondary-black-blue;
    }
  }

  .stories-3 {
    margin: 8.5rem auto;

    .stories-3-text-wrapper {
      p {
        font-family: $font-arial;
        font-size: 28px;
        line-height: 32px;
        color: $secondary-black;
        margin-bottom: 2rem;
      }

      p.title {
        font-style: italic;
        color: $primary-blue;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }
  }

  .highlight-2 {
    background-color: $primary-blue;
    padding: 6rem 0;

    .highlight-2-text {
      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $secondary-white;
        margin-bottom: 2rem;
      }
    }

    .highlight-2-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 65%;
      }
    }
  }

  .statistic-section {
    margin: 8.5rem auto;

    .statistic-chart {
      h2 {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 88px;
        line-height: 106px;
        color: $primary-blue;
        margin-bottom: 2rem;
      }

      .statistic-des {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: $primary-blue;
      }

      .signal-wrapper {
        margin: 2rem auto;
      }

      .signal-des {
        display: flex;
        align-items: center;

        p {
          font-family: $font-arial;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          margin: 0;
          padding-left: 0.5rem;
        }
      }

      .signal-icon {
        width: 15px;
        height: 7px;
      }
    }

    .statistic-flag {
      background-color: $primary-blue;
      color: $secondary-white;
      padding: 2.75rem 0;
      display: flex;

      .statistic-flag-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      h3 {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
      }

      h2 {
        font-family: $font-veneer;
        font-style: normal;
        font-weight: 400;
        font-size: 88px;
        line-height: 106px;
        text-align: center;
      }

      p {
        font-family: $font-arial;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
      }

      img {
        max-width: 231px;
        margin: 0 auto;
      }
    }

  }

  .cta {
    background-color: $primary-blue;
    padding: 8.5rem 0;

    h2 {
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 88px;
      line-height: 106px;
      color: $secondary-white;
    }

    p {
      font-family: $font-arial;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      color: $secondary-white;
    }
  }

  .next-story {
    background-color: $secondary-yellow;
    position: relative;

    div.next-story-content {
      position: absolute;
      top: 0;
      margin: 5rem auto;
    }

    h2 {
      text-transform: uppercase;
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 88px;
      line-height: 106px;
      color: $secondary-black-blue;
      margin-bottom: 17rem;
    }

    p {
      text-transform: uppercase;
      font-family: $font-veneer;
      font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 45px;
      color: $secondary-black-blue;
    }

    .chevron-down {
      position: absolute;
      bottom: 50px;
      left: calc(50% - 39px);
    }

    .chevron-down .bi-chevron-down::before {
      border-color: $secondary-black-blue;
    }

    .scroll-down {
      color: $secondary-black-blue;
    }
  }
}


/*--------------------------------------------------------------
# END TWO PHOTOS PAGE
--------------------------------------------------------------*/